<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="ap-local-base-url" content="{{localBaseUrl}}">
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{furl '/css/aui.css'}}" media="all">
        <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.4.3/css/aui-experimental.css" media="all">
        <!--[if lt IE 9]><link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.4.3/css/aui-ie.css" media="all"><![endif]-->
        <!--[if IE 9]><link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.4.3/css/aui-ie9.css" media="all"><![endif]-->
        <link rel="stylesheet" href="{{furl '/css/addon.css'}}" type="text/css" />
        <script src="{{furl '/js/jquery.min.js'}}"></script>
        <script src="{{furl '/js/aui-soy.js'}}" type="text/javascript"></script>
        <script src="{{furl '/js/aui.js'}}" type="text/javascript"></script>
        <script src="{{furl '/js/aui-datepicker.js'}}"></script>
        <script src="{{furl '/js/aui-experimental.js'}}"></script>
        <!--[if lt IE 9]><script src="{{furl '/js/aui-ie.js'}}"></script><![endif]-->
        <script src="{{hostScriptUrl}}" type="text/javascript"></script>
        <script src="{{furl '/js/d3.v3.min.js'}}" charset="utf-8"></script>
    </head>
    <body class="aui-page-hybrid">
        <section id="content" role="main">
            {{{body}}}
        </section>
        <script src="{{furl '/js/addon.js'}}"></script>
    </body>
</html>
