{{!< layout}}
<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main intro-header">
            <h1>{{title}}</h1>
        </div>
    </div>
</header>

<div class="aui-page-panel main-panel">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-item">
            <div class="aui-group">
                <div class="aui-item">
                    <div class="charts">
                    </div>
                    <div class="projects">
                    </div> 
                </div>
            </div>
        </section>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        AG.initInstanceStats();
    });
</script>
