/* add-on styles */
body {
  font-family: Helvetica, Arial, sans-serif;
}

.intro-header h1 {
  font-size: 48px;
  line-height: 60px;
  padding-top: 20px;
}
.intro-header p.subtitle {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 20px;
}
.main-panel .aui-page-panel-item {
  padding: 20px 40px 20px 0;
  height: 100px;
}

.charts {
  padding-top: 8px;
  padding-bottom: 8px;
}

.charts .bar-item {
  background-color: #14892c;
  overflow-x: visible;
  white-space: nowrap;
  height: 30px;
  margin-top: 4px;
  margin-bottom: 4px;
  line-height: 30px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  width: 0%;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

.charts .bar-item span {
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  margin-left: 16px;
}

.charts {
  border-left: 1px solid #232323;
  border-bottom: 1px solid #232323;
}